# Ignore swap files
*.sw[po]

# Ignore compiled files
*.py[co]

# Ignore pyuic files
ui_*.py

# Ignore other stuff
*.png
*.jpg
*.jpe
*.jpeg
*.dot
*.mkv

# Ignore special dirs
__pycache__
.env
training_sets
validation_sets
pyqtgraph
